<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WayBill</title>
        <style>
            #senderName{ top : 95px; left: 125px;}
            #senderPhone{ top : 133px; left: 125px;}
            #senderAddress{ position: absolute; top : 180px; left: 110px; width: 380px; line-height:120%; word-break:keep-all;}
            #senderPostcode{ top : 231px; left: 350px; letter-spacing: 12px;}
            #recipientName{ top : 275px; left:495px;}
            #recipientPhone{ top : 323px; left:495px;}
            #recipientAddress{ position: absolute; top : 375px; left:480px; width: 485px; line-height:120%; word-break:keep-all;}
            #recipientPostcode{ top : 460px; left:790px; letter-spacing: 17px;}
            #contents{ position: absolute; top : 105px; left: 610px; width: 360px; line-height:130%; word-break:break-all;}
            #theNumberOfHouseholds{ top : 132px; left: 570px; }
            #qrCode{position: absolute; top : 295px; left: 70px;}
            .sender {
                position: absolute;
                white-space: nowrap;
            }
            #content { position: absolute; width: 1000px;}
        </style>
    </head>
    <body>
    <div style="position: absolute; width:1000px;">
        <div>
            <img id="content" src ="/images/combiner.png"/>
            <h1 id="senderName" class="sender">민창경</h1>
            <h1 id="senderPhone" class="sender">010-3557-7940</h1>
            <h2 id="senderAddress">서울특별시 강남구 민창경집</h2>
            <h2 id="senderPostcode" class="sender">12345</h2>
            <h1 id="recipientName" class="sender"><%=payment[0].name%></h1>
            <h1 id="recipientPhone" class="sender"><%=payment[0].phone%></h1>
            <h1 id="recipientAddress"><%=payment[0].address%></h1>
            <h1 id="recipientPostcode" class="sender">54325</h1>
            <h2 id="contents">돼지고기, 소고기, 닭고기, 염소고기, 말고기, 당나귀고기, 타조고기</h2>
            <h1 id="theNumberOfHouseholds" class="sender"><%=payment.length%></h1>
            <img id="qrCode" src="<%=group.qrcode%>" style="width: 266px;" />
        </div>
        <%if(payment.length>0){%>
        <%var i=0;%>
        <%payment.forEach(function(item){ %>
        <div>
            <img id="content" src ="/images/combinee.png" style="top: <%=600+i*330%>px;"/>
            <h1 class="sender" style="top: <%=695+i*330%>px; left: 125px;">민창경</h1>
            <h1 class="sender" style="top: <%=735+i*330%>px; left: 125px;">010-3557-7940</h1>
            <h2 style="top: <%=780+i*330%>px; left: 110px; width: 360px; line-height:120%; word-break:keep-all; position: absolute;">서울특별시 강남구 민창경집</h2>
            <h2 class="sender" style="top: <%=832+i*330%>px; left: 350px; letter-spacing: 12px;">12345</h2>
            <h1 class="sender" style="top: <%=745+i*330%>px; left: 575px;"><%=item.name%></h1>
            <h1 class="sender" style="top: <%=789+i*330%>px; left: 575px;"><%=item.phone%></h1>
            <h2 class="sender" style="top: <%=835+i*330%>px; left: 575px;"><%=item.detailaddress%></h2>
            <h2 class="sender" style="top: <%=700+i*330%>px; left: 610px;">54325</h2>
            <img id="qrCode" src="<%=item.qrcode%>" style="top: <%=765+i*330%>px; left: 847px; width: 121px;" />
        </div>
        <%i++;%>
        <%});%>
    <%}%>
    </div>
    </body>
</html>